*{
    margin: 0px;
}
/* Margin 0px is always there */
:root{
    --noto: "Noto Sans", sans-serif;
    --gloria: "Gloria Hallelujah", sans-serif;
}

ul{ 
    list-style: none;
    padding: 0px;
}

i{
    color: #cc3900;
}

.width-1440{
    align-items: center;
    margin: auto;
    max-width: 1440px;
}

.image-width{
    width: 100%;
    object-fit: cover;
}

.LINKBUTTON{
    border: 1px solid #FBBBCD;
    padding:13px 25px 13px 25px;
    margin: auto;
}

a{
    text-decoration: none;
    transition:all 0.2s;
    color: black;
    font-family: var(--noto);
}

a:hover{
    transition:all 0.2s;
}

/* General above */

/* Header below */
header{
    justify-content: space-between;
    padding: 10px;
    display: flex;
}

header img{
    max-width: 200px;
}

header nav ul{
    align-items: center;
    gap: 40px;
    display: flex;
}

header nav ul li a{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

main section:nth-child(1){
    display: grid; 
    grid-template-columns: 1fr 1fr;
}

main section:nth-child(1) article h1,
main section:nth-child(1) article h2{
    font-family: var(--gloria);
}

main section:nth-child(1) img{
    background-image: url(../img/favicon.png);
    background-repeat: no-repeat;
    background-position-x: right;
}

main section:nth-child(1) article{
    max-width: 500px;
}

main section:nth-child(1) article:first-of-type{
    font-family: var(--noto);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}
main section:nth-child(1) article p:last-of-type{
    padding: 10px 0px 40px 0px;
}

main section:nth-child(1) article h1{
    font-family: var(--gloria);
    font-size: 45px;
    font-weight: 400;
    line-height: 45px;
    padding: 40px 0px 20px 0px;
}

main section:nth-child(1) article h2{
    padding: 16px 0px 20px 0px;
}
/* End of section1 */

/* Start of section2 */
main section:nth-child(2) > div{
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
}

main section:nth-child(2) div article:nth-child(1){
    background-color: #FBBBCD; 
    padding: 150px;
}
/* End of section2 */

/* Start of section3 */
main section:nth-child(3) > div{
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
}

main section:nth-child(3) > article{
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
}
/* End of section3 */

/* Start of section4 */
main section:nth-child(4){
    background-color: #F7F7F7;
    padding: 80px 15px;
}

main section:nth-child(4) > h2{
    font-family: var(--gloria);
    font-size: 45px;
    font-weight: 400;
    text-align: center;
}

main section:nth-child(4) div{
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
}

main section:nth-child(4) div article{
    padding: 10px;
}

main section:nth-child(4) div article img{
    padding: 0px 0px 20px 0px;
    height: 300px;
}

main section:nth-child(4) div article h3{
    padding: 0px 0px 20px 0px;
    font-family: var(--gloria);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

main section:nth-child(4) div article p{
    padding: 0px 0px 35px 0px;
    font-family: var(--noto);
    font-size: 14px;
    font-weight: 400;
}